* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

%flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 60%;
    height: 260px;

    margin: 10px auto;
    margin-bottom: 0;

    background-image: url("../img/1947484.jpg");
    background-position: center center;
    background-size: cover;

    color: rgba(255, 255, 255, 0.9);

    @extend %flex-sb-c;
    .avatar {
        height: 100%;
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            border-radius: 100%;
            width: 200px;
            height: 200px;
        }
    }
    .name-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 100%;
        width: 60%;
    }
    .name {
        font-size: 24px;
        word-spacing: 8.5%;
        text-transform: uppercase;
    }
    .position {
        color: rgba(202, 202, 202, 0.7);
        font-size: 21px;
        text-align: right;
    }
}

body {
    background-color: #E5E5E5;
}

main {
    width: 60%;

    margin: 0 auto;

    @extend %flex-sb-c;

    aside {
        height: 700px;
    }
    aside:nth-child(1) {
        background-color: #fff;
        width: 40%;
    }
    aside:nth-child(2) {
        background-color: #F6F6F6;
        width: 60%;
    }
}

.info-block {
    margin: 25px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    h3 {
        color: #7C8587;
        font-size: 20px;
    }
    h4 {
        color: rgba(0, 0, 0, 0.7);
        font-size: 18px;
    }
    h5 {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        margin-left: 20px;
    }

    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;

    p {
        margin: 15px 0;
    }
}

.list-info {
    list-style-type: none;
    font-weight: 500;
    
    li {
        margin: 15px 0;

        display: flex;
        align-items: flex-end;
    }
    .bi {
        font-size: 24px;
        margin-right: 15px;
    }
}
.education-work {
    li {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 1700px) {
    header {
        .name {
            width: 200px;
        }
        .position {
            text-align: left;
        }
    }
}
@media(max-width: 1280px) {
    header, main {
        width: 80%;
    }
}
@media(max-width: 830px) {
    header, main {
        width: 98%;
    }
}
@media(max-width: 750px) {
    header {
        .avatar {
            display: none;
        }
        .name-header, .name-block {
            width: 100%;
            .name, .position {
                width: 100%;
                text-align: center;
            }
        }
    }
    main {
        flex-direction: column;

        aside:nth-child(1), aside:nth-child(2) {
            width: 100%;
            height: auto;
        }
    }
}